{%extends 'base.html'%}
{%load static%}

<!DOCTYPE html>
<html lang="en">
{%block contents%}
<head>
    <style>
        @font-face { font-family: 'netmarbleB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'netmarbleL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleL.woff') format('woff'); font-weight: normal; font-style: normal; }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시온이의 음악 추천</title>
</head>


<body>
<div class="container">
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{%static 'mariahcarey_emc2.png'%}" alt="album image" width=270 height=270 style="padding:10px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 style="font-family: 'netmarbleB';">Mariah Carey - Bye Bye</h4>
        <h6 style="font-family: 'netmarbleL';">May 29, 2020, 1:38 a.m.</h6>
        <hr><p class="card-text" style="font-family: 'netmarbleL';">앨범 : E=MC²<br>발매일 : 2008.04.15<br>장르 : R&B/Soul</p>
        <br><p style="font-family: 'netmarbleL';">아래에 음악을 추천해주세요.</p>
      </div>
    </div>
  </div>
  </div>

  {%for blog in posts%}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        {%if blog.image%}
        <img src="{{blog.image.url}}" alt="Album image" width=270 height=270 style="padding:10px;">
        {%else%}
        <p style="font-family: 'netmarbleL'; padding:75px 0 0 50px;">사진 없이 추천한 글입니다.<br>앨범 사진을 추가해주세요.</p>
        {%endif%}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="{%url 'detail' blog.id%}"><h4 style="font-family: 'netmarbleB'; color:black;">{{blog.title}}</h4></a>
          <h6 style="font-family: 'netmarbleL';">{{blog.pub_date}}</h6>
          <hr><p class="card-text" style="font-family: 'netmarbleL';">{{blog.summary|linebreaksbr}}<br>...</p>
          <a href="{%url 'update' blog.id%}"><button type="button" class="btn" style="font-family: 'netmarbleL'; color:rgb(131, 170, 130);">수정</button></a>
          <a href="{%url 'delete' blog.id%}"><button type="button" class="btn" style="font-family: 'netmarbleL'; color:rgb(131, 170, 130);">삭제</button></a>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}
      <a href="{%url 'create'%}"><button type="button" class="btn btn-light" style="font-family: 'netmarbleL'; border:medium solid #dbe2c7; margin-right:15px;">나도 음악 추천하기</button></a>
      <a href="{%url 'create2'%}"><button type="button" class="btn btn-light" style="font-family: 'netmarbleL'; border:medium solid #dbe2c7;">사진 없이 음악 추천하기</button></a>
    </div>
</div>


<br><br>
<!--Pagination-->
<div class="container" style="font-family: 'netmarbleL';">
  {%if posts.has_previous%}
  <a href="?page=1"><button type="button" class="btn btn-light" style="margin:0 10px 0 0;">First</button></a>
  <a href="?page={{posts.previous_page_number}}"><button type="button" class="btn btn-light" style="margin:0 10px;">Previous</button></a>
  {%endif%}

  <span>{{posts.number}}</span>
  <span> of </span>
  <span>{{posts.paginator.num_pages}}</span>

  {%if posts.has_next%}
  <a href="?page={{posts.next_page_number}}"><button type="button" class="btn btn-light" style="margin:0 10px;">Next</button></a>
  <a href="?page={{posts.paginator.num_pages}}"><button type="button" class="btn btn-light" style="margin:0 10px;">Last</button></a>
  {%endif%}
</div>
</body>
{%endblock%}
</html>


